<%%
  submit_label = "Update"
  submit_label = "Create" if @user_group.new_record?
-%>

<%%= error_messages_for :user_group %>

<%% form_for(<%= namespace.blank? ? '@user_group' : "[:#{namespace}, @user_group]"  %>) do |f| %>
  <%%= render :partial => "data" %>
  <p> <%%= f.submit submit_label %> </p>
<%% end %>
