<p>
  <b>Name</b><br />
  <%= user_group_name_value %>
</p>
<p>
  <b>Permissions</b><br />
  <%= user_group_permissions_value %>
</p>
<% if @action_name == "show" %>
	<p>
		<b>Users in user group:</b><br />
		<%= user_group_users_value  %>
	</p>
<% end%>

