<p>
  <b>Name</b><br />
  <%%= permission_name_value %>
</p>
<p>
  <b>Access rights:</b><br />
  <%%= permission_access_rights_value %>
</p>
<p>
  <b>Users with permission:</b><br />
  <%%= permission_users_value %>
</p>

