<!-- 
take the style block out.  this is duplicated in user_groups/_data.html.erb
without this, the user group selection is just no good
-->
<style>
.checklist{
  overflow: auto;
  border: 1px solid #ccc;
  list-style: none;
  height: 300px;
  width: 600px;
  text-align: left;
  list-style: none;
  margin-left: 12px;
}

.checklist li{
  padding-left: 6px;
}

li.even_checked,
li.even{
  background: #DFDFDF;
}

li.even_checked,
li.odd_checked{
  color: red;
}
</style>

<p>
  <b>First name</b><br />
  <%%= user_first_name_value %>
</p>
<p>
  <b>Last name</b><br />
  <%%= user_last_name_value %>
</p>
<p>
  <b>Email</b><br />
  <%%= user_email_value %>
</p>
<p>
	<b><span>L</span>ogin</b><br />
  <%%= user_login_value %>
</p>

<%% unless <%= action_name %> == "show" -%>
  <p>
    <b><span>P</span>assword</b><br />
    <%%= user_password_value  %>
  </p>
  <p>
    <b><span>P</span>assword confirmation</b><br />
    <%%= user_password_confirmation_value %>
  </p>
<%% end -%>

<p>
  <b>User Groups</b><br />
  <%%= user_user_groups_value %>
</p>

<!--
Take this out and place in your application.js.  
This is duplicated in user_groups/_data.html.erb
-->
<script type="text/javascript">

  function do_highlight(id){
    li = document.getElementById("li_"+id);
    i = document.getElementById(id);
    if (i.checked){
      li.style.backgroundColor = "#ddd";
      li.style.color = "#fff";
    }else{
      if (li.className == "odd"){
        li.style.backgroundColor = "#fff";
      }else{
        li.style.backgroundColor = "#ccc";
      } 
      li.style.color = "#000";
    }
  }
</script>

