<%%
  submit_label = "Update"
  submit_label = "Create" if @user.new_record?
-%>

<%%= error_messages_for :profile %>
<%%= error_messages_for :user %>

<%% form_for(@user) do |f| %>
  <%%= render :partial => "data" %>
  <p> <%%= f.submit submit_label %> </p>
<%% end %>
