<h1>Editing User</h1>

<%%= render :partial => "form", :locals => {:method => :put}%>

<%%= link_to 'Show', <%= namespace.blank? ? "@user" : "#{namespace}_user_path(@user)" %> %> |
<%%= link_to 'Back', <%= namespace.blank? ? "users_path" : "#{namespace}_users_path" %> %>
